Tr Tg
-Tr -Tg
Vr Vg
-Vr -Vg
NSWr NSWg
-NSWr -NSWg
Qr Qg
-Qr -Qg
NTr NTg
-NTr -NTg
SAr SAg
-SAr -SAg
WAr WAg
-WAr -WAg
-Tr -Vr
-Tg -Vg
-Vr -NSWr
-Vg -NSWg
-Vr -SAr
-Vg -SAg
-NSWr -SAr
-NSWg -SAg
-NSWr -Qr
-NSWg -Qg
-Qr -NTr
-Qg -NTg
-Qr -SAr
-Qg -SAg
-NTr -SAr
-NTg -SAg
-NTr -WAr
-NTg -WAg
-SAr -WAr
-SAg -WAg